## Pyspark Handling Missing Values
* Dropping Columns
* Dropping Rows
* Various Parameter In Dropping functionalities
* Handling Missing values by Mean, MEdian And Mode

In [42]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [43]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [44]:
df_pyspark=spark.read.csv('table.csv',header=True,inferSchema=True)

In [45]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [46]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [65]:
df_pyspark_miss_dar=df_pyspark.na.fill('missed')
df_pyspark_miss_dar.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
| missed|  34|        10| 38000|
| missed|  36|      null|  null|
+-------+----+----------+------+

In [48]:
##drop the columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [49]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [50]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
+-------+---+----------+------+

In [51]:
### how==any
df_pyspark.na.drop(how="any").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
+-------+---+----------+------+

In [52]:
##threshold-- 
df_pyspark.na.drop(how="any",thresh=1).show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [53]:
##Subset-- delet nan values only from the subset column
df_pyspark.na.drop(how="any",subset=['Age']).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
|   null| 34|        10| 38000|
|   null| 36|      null|  null|
+-------+---+----------+------+

In [68]:
### Filling the Missing Value
df_pyspark_miss=df_pyspark.na.fill('Missed',['Experience','age'])
#df_pyspark_miss_dar=df_pyspark.na.fill('Missing')
df_pyspark_miss.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [55]:
df_pyspark_miss_dar.show()

+-------+----+----------+------+
|   Name| age|Experience|Salary|
+-------+----+----------+------+
|    ali|  31|        10| 30000|
|   reza|  30|         8| 25000|
| mammad|  29|         4| 20000|
|  david|  24|         3| 20000|
| davood|  21|         1| 15000|
|ebrahim|  23|         2| 18000|
|abraham|null|      null| 40000|
|Missing|  34|        10| 38000|
|Missing|  36|      null|  null|
+-------+----+----------+------+

In [56]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [57]:
# like the same in sklearn library
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [58]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    ali|  31|        10| 30000|         31|                10|         30000|
|   reza|  30|         8| 25000|         30|                 8|         25000|
| mammad|  29|         4| 20000|         29|                 4|         20000|
|  david|  24|         3| 20000|         24|                 3|         20000|
| davood|  21|         1| 15000|         21|                 1|         15000|
|ebrahim|  23|         2| 18000|         23|                 2|         18000|
|abraham|null|      null| 40000|         29|                 4|         40000|
|   null|  34|        10| 38000|         34|                10|         38000|
|   null|  36|      null|  null|         36|                 4|         20000|
+-------+----+----------+------+-----------+------------------+--------------+