In [13]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [14]:
from pyspark.sql import SparkSession

In [15]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [16]:
df_pyspark=spark.read.csv('salary.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|    tom| 23|         2| 18000|
+-------+---+----------+------+

## Filter Operations

In [17]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|    tom| 23|         2| 18000|
+-------+---+----------+------+

In [18]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| mammad| 29|
|  rasul| 24|
|srashel| 21|
|    tom| 23|
+-------+---+

In [19]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|    tom| 23|         2| 18000|
+-------+---+----------+------+

In [20]:
# using or 
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|    tom| 23|         2| 18000|
+-------+---+----------+------+

In [21]:
# inverse condition
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
| ali| 31|        10| 30000|
|reza| 30|         8| 25000|
+----+---+----------+------+