In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 12.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=bcfd27b37be73483b6f8060d2f132c0eeac2d58ed4c6b669999e80d703b2cdb1
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [25]:
from pyspark.sql import SparkSession

In [26]:
spark=SparkSession.builder.appName('GroupByPractice').getOrCreate()
spark

In [33]:
dfspark=spark.read.csv('salary_2.csv',header=True,inferSchema=True)

In [34]:
dfspark.show()

+----+------------+------+
|Name| Departments|salary|
+----+------------+------+
| ali|Data Science| 10000|
| ali|         IOT|  5000|
| ali|    Big Data|  4000|
|reza|    Big Data|  4000|
|reza|Data Science|  3000|
|reza|Data Science| 20000|
|mahi|         IOT| 10000|
|mahi|    Big Data|  5000|
|mahi|Data Science| 10000|
|mahi|    Big Data|  2000|
+----+------------+------+

In [35]:
type(dfspark)

pyspark.sql.dataframe.DataFrame

In [36]:
dfspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [37]:
dfspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(salary)|
+----+-----------+
| ali|      19000|
|mahi|      27000|
|reza|      27000|
+----+-----------+

In [38]:
dfspark.groupBy('Name').avg().show()

+----+-----------------+
|Name|      avg(salary)|
+----+-----------------+
| ali|6333.333333333333|
|mahi|           6750.0|
|reza|           9000.0|
+----+-----------------+

In [40]:
#count frequency of departments
dfspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [41]:
### Groupby Departmernts  which gives maximum salary
dfspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [42]:
dfspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+