<a href="https://colab.research.google.com/github/strumer69/Learn_spark/blob/main/H_books.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=d68b3579fbaba215e334f3fc44ec8d04e3c3dbb402a9e47a69d2a714d5cffc6c
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practicec').getOrCreate()

In [4]:
spark

In [5]:
spark.sparkContext

In [6]:
# link of data:
# https://drive.google.com/file/d/1LgibGOp2aJGbqjqAuU3iKKWYWcB0SAZd/view?usp=share_link
df1=spark.read.csv('Book-Ratings.csv')

In [7]:
df1.printSchema()

root
 |-- _c0: string (nullable = true)

In [8]:
df1.show()

+--------------------+
|                 _c0|
+--------------------+
|"userid";"isbn";"...|
|"276725";"0345451...|
|"276726";"0155061...|
|"276727";"0446520...|
|"276729";"0521656...|
|"276729";"0521795...|
|"276733";"2080674...|
|"276736";"3257224...|
|"276737";"0600570...|
|"276744";"0385501...|
|"276745";"3423105...|
|"276746";"0425115...|
|"276746";"0449006...|
|"276746";"0553561...|
|"276746";"0553564...|
|"276746";"0786013...|
|"276746";"0786014...|
|"276747";"0060517...|
|"276747";"0451192...|
|"276747";"0609801...|
+--------------------+
only showing top 20 rows

In [9]:
df1=spark.read.options(sep=';').csv('Book-Ratings.csv')
df1.show()

+------+----------+----+
|   _c0|       _c1| _c2|
+------+----------+----+
|userid|      isbn|rate|
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
+------+----------+----+
only showing top 20 rows

In [10]:
df1=spark.read.options(sep=';',header=True).csv('Book-Ratings.csv')
df1.show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
|276747|0671537458|   9|
+------+----------+----+
only showing top 20 rows

In [11]:
df1.printSchema()

root
 |-- userid: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: string (nullable = true)

In [12]:
df1=spark.read.options(sep=';',header=True,inferSchema=True).csv('Book-Ratings.csv')
df1.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: integer (nullable = true)

In [13]:
df1.filter('rate>5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [14]:
df1.filter('rate>5').select('isbn').show()

+----------+
|      isbn|
+----------+
|0521795028|
|3257224281|
|0600570967|
|038550120X|
| 342310538|
|0060517794|
|0671537458|
|0679776818|
|0943066433|
|1885408226|
|0747558167|
|3596218098|
|0684867621|
|8440682697|
|3453092007|
|0553572369|
|3499230933|
|3596151465|
|3442136644|
|8484330478|
+----------+
only showing top 20 rows

In [15]:
df1.groupBy('isbn').avg('rate').show()

+----------+-----------------+
|      isbn|        avg(rate)|
+----------+-----------------+
|2080674722|              0.0|
|3499134004|              0.0|
|3548603203|              4.8|
|880781112X|              6.0|
|0738205737|              5.0|
|0749317256|              0.0|
|0515131520|              2.0|
|8471662531|              7.0|
|0441005470|              0.0|
|0739417096|8.666666666666666|
|0767906373|              0.0|
|0425087859|              0.0|
|0553574566|              4.0|
|0498024253|              3.5|
|0395977894|              4.0|
|0505522004|              7.0|
|0425188787|2.823529411764706|
|0515137111|3.142857142857143|
|0767905385|4.622222222222222|
|0553580906|           2.3125|
+----------+-----------------+
only showing top 20 rows

In [16]:
df1.groupBy('isbn').count().show()

+----------+-----+
|      isbn|count|
+----------+-----+
|2080674722|    1|
|3499134004|    1|
|3548603203|    5|
|880781112X|    1|
|0738205737|    1|
|0749317256|    1|
|0515131520|    3|
|8471662531|    1|
|0441005470|    1|
|0739417096|    3|
|0767906373|    2|
|0425087859|    1|
|0553574566|   11|
|0498024253|    2|
|0395977894|    5|
|0505522004|    1|
|0425188787|   17|
|0515137111|   14|
|0767905385|   45|
|0553580906|   16|
+----------+-----+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import *

In [18]:
df1.groupBy('isbn').agg(sum('rate'),count('rate'),avg('rate'),max('rate')).show()

+----------+---------+-----------+-----------------+---------+
|      isbn|sum(rate)|count(rate)|        avg(rate)|max(rate)|
+----------+---------+-----------+-----------------+---------+
|2080674722|        0|          1|              0.0|        0|
|3499134004|        0|          1|              0.0|        0|
|3548603203|       24|          5|              4.8|        9|
|880781112X|        6|          1|              6.0|        6|
|0738205737|        5|          1|              5.0|        5|
|0749317256|        0|          1|              0.0|        0|
|0515131520|        6|          3|              2.0|        6|
|8471662531|        7|          1|              7.0|        7|
|0441005470|        0|          1|              0.0|        0|
|0739417096|       26|          3|8.666666666666666|       10|
|0767906373|        0|          2|              0.0|        0|
|0425087859|        0|          1|              0.0|        0|
|0553574566|       44|         11|              4.0|       10|
|0498024253|        7|          2|              3.5|        7|
|0395977894|       20|          5|              4.0|       10|
|0505522004|        7|          1|              7.0|        7|
|0425188787|       48|         17|2.823529411764706|       10|
|0515137111|       44|         14|3.142857142857143|       10|
|0767905385|      208|         45|4.622222222222222|       10|
|0553580906|       37|         16|           2.3125|        8|
+----------+---------+-----------+-----------------+---------+
only showing top 20 rows

In [19]:
df1.groupBy('isbn').agg(sum('rate'),count('rate'),avg('rate'),max('rate')).printSchema()

root
 |-- isbn: string (nullable = true)
 |-- sum(rate): long (nullable = true)
 |-- count(rate): long (nullable = false)
 |-- avg(rate): double (nullable = true)
 |-- max(rate): integer (nullable = true)

In [20]:
df3=df1.groupBy('isbn').agg(sum('rate').alias('sum'),count('rate').alias('countee'),avg('rate').alias('avge'),max('rate'))

In [21]:
df3.filter('avge>3').show()

+----------+---+-------+------------------+---------+
|      isbn|sum|countee|              avge|max(rate)|
+----------+---+-------+------------------+---------+
|3548603203| 24|      5|               4.8|        9|
|880781112X|  6|      1|               6.0|        6|
|0738205737|  5|      1|               5.0|        5|
|8471662531|  7|      1|               7.0|        7|
|0739417096| 26|      3| 8.666666666666666|       10|
|0553574566| 44|     11|               4.0|       10|
|0498024253|  7|      2|               3.5|        7|
|0395977894| 20|      5|               4.0|       10|
|0505522004|  7|      1|               7.0|        7|
|0515137111| 44|     14| 3.142857142857143|       10|
|0767905385|208|     45| 4.622222222222222|       10|
|0060801115| 25|      6| 4.166666666666667|       10|
|  19973/88|  6|      1|               6.0|        6|
|0842329129|289|     77|3.7532467532467533|       10|
|0425168948| 16|      5|               3.2|        9|
|3423620005| 18|      3|               6.0|        9|
|0174434642|  8|      1|               8.0|        8|
|0446606723|  7|      1|               7.0|        7|
|0553351702|  8|      2|               4.0|        8|
|0099428385| 15|      4|              3.75|        8|
+----------+---+-------+------------------+---------+
only showing top 20 rows

In [22]:
df3=df1.groupBy('isbn').agg(sum('rate').alias('sum'),count('rate').alias('countee'),avg('rate').alias('avge'),max('rate'))
df3.filter('countee>200').filter('avge>4').show()

+----------+----+-------+------------------+---------+
|      isbn| sum|countee|              avge|max(rate)|
+----------+----+-------+------------------+---------+
|0385504209|1034|    224| 4.616071428571429|       10|
|0316666343|1491|    333|4.4774774774774775|       10|
+----------+----+-------+------------------+---------+

In [23]:
df1.groupBy('isbn').count().orderBy(col('count').desc()).show()

+----------+-----+
|      isbn|count|
+----------+-----+
|0971880107|  612|
|0316666343|  333|
|0385504209|  224|
|0060928336|  201|
|0312195516|  188|
|044023722X|  165|
|0446672211|  155|
|067976402X|  147|
|0679781587|  146|
|0375727345|  144|
|059035342X|  140|
|0440214041|  138|
|0671027360|  138|
|0316601950|  133|
|0452282152|  132|
|0142001740|  132|
|044021145X|  132|
|0060930535|  132|
|0804106304|  131|
|0345370775|  123|
+----------+-----+
only showing top 20 rows

In [24]:
df3.orderBy(col('countee').desc()).show()

+----------+----+-------+------------------+---------+
|      isbn| sum|countee|              avge|max(rate)|
+----------+----+-------+------------------+---------+
|0971880107| 671|    612|  1.09640522875817|       10|
|0316666343|1491|    333|4.4774774774774775|       10|
|0385504209|1034|    224| 4.616071428571429|       10|
|0060928336| 715|    201| 3.557213930348259|       10|
|0312195516| 828|    188| 4.404255319148936|       10|
|044023722X| 567|    165|3.4363636363636365|       10|
|0446672211| 632|    155| 4.077419354838709|       10|
|067976402X| 505|    147| 3.435374149659864|       10|
|0679781587| 610|    146| 4.178082191780822|       10|
|0375727345| 499|    144|3.4652777777777777|       10|
|059035342X| 655|    140| 4.678571428571429|       10|
|0671027360| 543|    138|3.9347826086956523|       10|
|0440214041| 423|    138|3.0652173913043477|       10|
|0316601950| 499|    133|3.7518796992481205|       10|
|0060930535| 467|    132| 3.537878787878788|       10|
|044021145X| 445|    132| 3.371212121212121|       10|
|0452282152| 526|    132| 3.984848484848485|       10|
|0142001740| 636|    132| 4.818181818181818|       10|
|0804106304| 435|    131|3.3206106870229006|       10|
|0345370775| 475|    123| 3.861788617886179|       10|
+----------+----+-------+------------------+---------+
only showing top 20 rows

In [25]:
# مبحث بعدی
df1.createOrReplaceTempView('my_rating')

In [26]:
spark.sql('select * from my_rating where rate > 5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [27]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn').show()

+----------+-----------------+
|      isbn|              AVG|
+----------+-----------------+
|2080674722|              0.0|
|3499134004|              0.0|
|3548603203|              4.8|
|880781112X|              6.0|
|0738205737|              5.0|
|0749317256|              0.0|
|0515131520|              2.0|
|8471662531|              7.0|
|0441005470|              0.0|
|0739417096|8.666666666666666|
|0767906373|              0.0|
|0425087859|              0.0|
|0553574566|              4.0|
|0498024253|              3.5|
|0395977894|              4.0|
|0505522004|              7.0|
|0425188787|2.823529411764706|
|0515137111|3.142857142857143|
|0767905385|4.622222222222222|
|0553580906|           2.3125|
+----------+-----------------+
only showing top 20 rows

In [28]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn ORDER BY AVG DESC').show()

+----------+----+
|      isbn| AVG|
+----------+----+
|0385411197|10.0|
|0552130214|10.0|
|0316111678|10.0|
|0965550117|10.0|
|0316112321|10.0|
|8428210373|10.0|
|0965238385|10.0|
|3442431468|10.0|
|8401341671|10.0|
|0310249716|10.0|
|0865530017|10.0|
|887644193X|10.0|
|3895082848|10.0|
|0753451948|10.0|
|0451525353|10.0|
|0809085178|10.0|
|0471485527|10.0|
|1569553602|10.0|
|0395629497|10.0|
|0875849059|10.0|
+----------+----+
only showing top 20 rows

In [29]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn ORDER BY AVG DESC').show()

+-----------+----+
|       isbn| AVG|
+-----------+----+
|07416811048|10.0|
| 1886411999|10.0|
| 080482052X|10.0|
| 156987512X|10.0|
| 0425105156|10.0|
| 0688147208|10.0|
|  006073941|10.0|
| 1586851578|10.0|
| 0525938508|10.0|
| 0590066560|10.0|
| 9707100567|10.0|
| 0809423103|10.0|
| 0859051595|10.0|
| 1576903389|10.0|
| 0803720963|10.0|
|  006092833|10.0|
| 0690041535|10.0|
| 3190032947|10.0|
| 0874774357|10.0|
| 1897959206|10.0|
+-----------+----+
only showing top 20 rows

## next
### join

In [30]:
rating_df=spark.read.options(sep=';',header=True,inferSchema=True).csv('Book-Ratings.csv')
book_df=  spark.read.options(sep=';',header=True,inferSchema=True).csv('Books.csv')
user_df=  spark.read.options(sep=';',header=True,inferSchema=True).csv('Users.csv')

In [31]:
rating_df.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: integer (nullable = true)

In [32]:
book_df.printSchema()

root
 |-- ISBN: string (nullable = true)
 |-- BookTitle: string (nullable = true)
 |-- BookAuthor: string (nullable = true)
 |-- YearOfPublication: integer (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- ImageURLS: string (nullable = true)
 |-- ImageURLM: string (nullable = true)
 |-- ImageURLL: string (nullable = true)

In [33]:
user_df.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- USERNAME: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: string (nullable = true)

In [35]:
rating_df.join(user_df).show()
# the default is cross_join

+------+----------+----+------+-----------+--------------------+----+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|
+------+----------+----+------+-----------+--------------------+----+
|276725|034545104X|   0|     1|bzsufoRTLN2|  nyc, new york, usa|NULL|
|276725|034545104X|   0|     2|fq7kfHg4VEI|stockton, califor...|  18|
|276725|034545104X|   0|     3|W0Hbkd3xR8v|moscow, yukon ter...|NULL|
|276725|034545104X|   0|     4|W51GahAx5Ap|porto, v.n.gaia, ...|  17|
|276725|034545104X|   0|     5|VKN3PQ18GgN|farnborough, hant...|NULL|
|276725|034545104X|   0|     6|h9BSgQZ5wOk|santa monica, cal...|  61|
|276725|034545104X|   0|     7|7rdddpZpjWp| washington, dc, usa|NULL|
|276725|034545104X|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|276725|034545104X|   0|     9|gkcxQJLS13A|germantown, tenne...|NULL|
|276725|034545104X|   0|    10|BANPptNSbPy|albacete, wiscons...|  26|
|276725|034545104X|   0|    11|X0ELjsCzJt0|melbourne, victor...|  14|
|276725|034545104X|   0|    12|z4qLRN05PYT|fort bragg, calif...|NULL|
|276725|034545104X|   0|    13|4YgtGJggfAx|barcelona, barcel...|  26|
|276725|034545104X|   0|    14|FZW1MG3zLpo|mediapolis, iowa,...|NULL|
|276725|034545104X|   0|    15|FHo7m8eHkPb|calgary, alberta,...|NULL|
|276725|034545104X|   0|    16|HwLFQdzk30o|albuquerque, new ...|NULL|
|276725|034545104X|   0|    17|dk15dEDpgbc|chesapeake, virgi...|NULL|
|276725|034545104X|   0|    18|aNFnRPqjGL1|rio de janeiro, r...|  25|
|276725|034545104X|   0|    19|hNw8CkHF2HO|           weston, ,|  14|
|276725|034545104X|   0|    20|aDZu7b2Eitu|langhorne, pennsy...|  19|
+------+----------+----+------+-----------+--------------------+----+
only showing top 20 rows

In [36]:
rating_df.join(user_df,rating_df['userid']==user_df['UserID']).show()
# جوین با شرط

+------+----------+----+------+-----------+--------------------+----+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|
+------+----------+----+------+-----------+--------------------+----+
|     2|0195153448|   0|     2|fq7kfHg4VEI|stockton, califor...|  18|
|     7| 034542252|   0|     7|7rdddpZpjWp| washington, dc, usa|NULL|
|     8|0002005018|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0060973129|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0374157065|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0393045218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0399135782|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0425176428|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0671870432|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0679425608|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|074322678X|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0771025661|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0771074670|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|080652121X|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0887841740|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1552041778|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1558746218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1567407781|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1575663937|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1881320189|   7|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
+------+----------+----+------+-----------+--------------------+----+
only showing top 20 rows

In [37]:
rating_df.join(user_df,rating_df['userid']==user_df['UserID']).show(truncate=False)

+------+----------+----+------+-----------+-------------------------+----+
|userid|isbn      |rate|UserID|USERNAME   |Location                 |Age |
+------+----------+----+------+-----------+-------------------------+----+
|2     |0195153448|0   |2     |fq7kfHg4VEI|stockton, california, usa|18  |
|7     |034542252 |0   |7     |7rdddpZpjWp|washington, dc, usa      |NULL|
|8     |0002005018|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0060973129|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0374157065|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0393045218|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0399135782|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0425176428|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0671870432|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0679425608|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |074322678X|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0771025661|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0771074670|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |080652121X|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0887841740|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1552041778|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1558746218|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1567407781|6   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1575663937|6   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1881320189|7   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
+------+----------+----+------+-----------+-------------------------+----+
only showing top 20 rows