<a href="https://colab.research.google.com/github/strumer69/Learn_spark/blob/main/H_books.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 11.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=32109aaeb84336952e498cfc70b9df23f04467e355585c86ffcc89d3a6df4a8d
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practicec').getOrCreate()

In [3]:
spark

In [4]:
spark.sparkContext

In [5]:
# link of data:
# https://drive.google.com/file/d/1LgibGOp2aJGbqjqAuU3iKKWYWcB0SAZd/view?usp=share_link
df1=spark.read.csv('Book-Ratings.csv')

In [6]:
df1.printSchema()

root
 |-- _c0: string (nullable = true)

In [7]:
df1.show()

+--------------------+
|                 _c0|
+--------------------+
|"userid";"isbn";"...|
|"276725";"0345451...|
|"276726";"0155061...|
|"276727";"0446520...|
|"276729";"0521656...|
|"276729";"0521795...|
|"276733";"2080674...|
|"276736";"3257224...|
|"276737";"0600570...|
|"276744";"0385501...|
|"276745";"3423105...|
|"276746";"0425115...|
|"276746";"0449006...|
|"276746";"0553561...|
|"276746";"0553564...|
|"276746";"0786013...|
|"276746";"0786014...|
|"276747";"0060517...|
|"276747";"0451192...|
|"276747";"0609801...|
+--------------------+
only showing top 20 rows

In [8]:
df1=spark.read.options(sep=';').csv('Book-Ratings.csv')
df1.show()

+------+----------+----+
|   _c0|       _c1| _c2|
+------+----------+----+
|userid|      isbn|rate|
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
+------+----------+----+
only showing top 20 rows

In [9]:
df1=spark.read.options(sep=';',header=True).csv('Book-Ratings.csv')
df1.show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
|276747|0671537458|   9|
+------+----------+----+
only showing top 20 rows

In [10]:
df1.printSchema()

root
 |-- userid: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: string (nullable = true)

In [11]:
df1=spark.read.options(sep=';',header=True,inferSchema=True).csv('Book-Ratings.csv')
df1.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: integer (nullable = true)

In [12]:
df1.filter('rate>5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [13]:
df1.filter('rate>5').select('isbn').show()

+----------+
|      isbn|
+----------+
|0521795028|
|3257224281|
|0600570967|
|038550120X|
| 342310538|
|0060517794|
|0671537458|
|0679776818|
|0943066433|
|1885408226|
|0747558167|
|3596218098|
|0684867621|
|8440682697|
|3453092007|
|0553572369|
|3499230933|
|3596151465|
|3442136644|
|8484330478|
+----------+
only showing top 20 rows

In [14]:
df1.groupBy('isbn').avg('rate').show()

+----------+-----------------+
|      isbn|        avg(rate)|
+----------+-----------------+
|2080674722|              0.0|
|3499134004|              0.0|
|3548603203|              4.8|
|880781112X|              6.0|
|0738205737|              5.0|
|0749317256|              0.0|
|0515131520|              3.0|
|8471662531|              7.0|
|0441005470|              0.0|
|0739417096|              8.0|
|0767906373|              0.0|
|0425087859|              0.0|
|0553574566|            3.125|
|0498024253|              0.0|
|0395977894|              5.0|
|0505522004|              7.0|
|0425188787|             2.75|
|0515137111|              3.6|
|0767905385|6.285714285714286|
|0553580906|              1.5|
+----------+-----------------+
only showing top 20 rows

In [15]:
df1.groupBy('isbn').count().show()

+----------+-----+
|      isbn|count|
+----------+-----+
|2080674722|    1|
|3499134004|    1|
|3548603203|    5|
|880781112X|    1|
|0738205737|    1|
|0749317256|    1|
|0515131520|    2|
|8471662531|    1|
|0441005470|    1|
|0739417096|    2|
|0767906373|    1|
|0425087859|    1|
|0553574566|    8|
|0498024253|    1|
|0395977894|    2|
|0505522004|    1|
|0425188787|    8|
|0515137111|    5|
|0767905385|   14|
|0553580906|    8|
+----------+-----+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import *

In [17]:
df1.groupBy('isbn').agg(sum('rate'),count('rate'),avg('rate'),max('rate')).show()

+----------+---------+-----------+-----------------+---------+
|      isbn|sum(rate)|count(rate)|        avg(rate)|max(rate)|
+----------+---------+-----------+-----------------+---------+
|2080674722|        0|          1|              0.0|        0|
|3499134004|        0|          1|              0.0|        0|
|3548603203|       24|          5|              4.8|        9|
|880781112X|        6|          1|              6.0|        6|
|0738205737|        5|          1|              5.0|        5|
|0749317256|        0|          1|              0.0|        0|
|0515131520|        6|          2|              3.0|        6|
|8471662531|        7|          1|              7.0|        7|
|0441005470|        0|          1|              0.0|        0|
|0739417096|       16|          2|              8.0|        8|
|0767906373|        0|          1|              0.0|        0|
|0425087859|        0|          1|              0.0|        0|
|0553574566|       25|          8|            3.125|        9|
|0498024253|        0|          1|              0.0|        0|
|0395977894|       10|          2|              5.0|       10|
|0505522004|        7|          1|              7.0|        7|
|0425188787|       22|          8|             2.75|        9|
|0515137111|       18|          5|              3.6|       10|
|0767905385|       88|         14|6.285714285714286|       10|
|0553580906|       12|          8|              1.5|        8|
+----------+---------+-----------+-----------------+---------+
only showing top 20 rows

In [18]:
df1.groupBy('isbn').agg(sum('rate'),count('rate'),avg('rate'),max('rate')).printSchema()

root
 |-- isbn: string (nullable = true)
 |-- sum(rate): long (nullable = true)
 |-- count(rate): long (nullable = false)
 |-- avg(rate): double (nullable = true)
 |-- max(rate): integer (nullable = true)

In [19]:
df3=df1.groupBy('isbn').agg(sum('rate').alias('sum'),count('rate').alias('countee'),avg('rate').alias('avge'),max('rate'))

In [20]:
df3.filter('avge>3').show()

+----------+---+-------+-----------------+---------+
|      isbn|sum|countee|             avge|max(rate)|
+----------+---+-------+-----------------+---------+
|3548603203| 24|      5|              4.8|        9|
|880781112X|  6|      1|              6.0|        6|
|0738205737|  5|      1|              5.0|        5|
|8471662531|  7|      1|              7.0|        7|
|0739417096| 16|      2|              8.0|        8|
|0553574566| 25|      8|            3.125|        9|
|0395977894| 10|      2|              5.0|       10|
|0505522004|  7|      1|              7.0|        7|
|0515137111| 18|      5|              3.6|       10|
|0767905385| 88|     14|6.285714285714286|       10|
|0060801115| 15|      3|              5.0|        8|
|  19973/88|  6|      1|              6.0|        6|
|0842329129|109|     28|3.892857142857143|       10|
|0425168948|  7|      1|              7.0|        7|
|3423620005| 18|      2|              9.0|        9|
|0174434642|  8|      1|              8.0|        8|
|0446606723|  7|      1|              7.0|        7|
|0099428385|  8|      1|              8.0|        8|
|0886773776| 10|      1|             10.0|       10|
|8879830678|  5|      1|              5.0|        5|
+----------+---+-------+-----------------+---------+
only showing top 20 rows

In [21]:
df3=df1.groupBy('isbn').agg(sum('rate').alias('sum'),count('rate').alias('countee'),avg('rate').alias('avge'),max('rate'))
df3.filter('countee>200').filter('avge>4').show()

+----+---+-------+----+---------+
|isbn|sum|countee|avge|max(rate)|
+----+---+-------+----+---------+
+----+---+-------+----+---------+

In [22]:
df1.groupBy('isbn').count().orderBy(col('count').desc()).show()

+----------+-----+
|      isbn|count|
+----------+-----+
|0971880107|  241|
|0316666343|  135|
|0385504209|   92|
|0060928336|   84|
|0312195516|   75|
|059035342X|   68|
|0142001740|   65|
|067976402X|   64|
|0679781587|   64|
|0446672211|   62|
|0440214041|   59|
|0060930535|   59|
|0375727345|   58|
|0156027321|   57|
|044023722X|   56|
|0316601950|   54|
|0440226430|   53|
|044021145X|   53|
|0804106304|   52|
|0743418174|   50|
+----------+-----+
only showing top 20 rows

In [23]:
df3.orderBy(col('countee').desc()).show()

+----------+---+-------+------------------+---------+
|      isbn|sum|countee|              avge|max(rate)|
+----------+---+-------+------------------+---------+
|0971880107|238|    241|0.9875518672199171|       10|
|0316666343|609|    135| 4.511111111111111|       10|
|0385504209|419|     92| 4.554347826086956|       10|
|0060928336|331|     84|3.9404761904761907|       10|
|0312195516|352|     75| 4.693333333333333|       10|
|059035342X|306|     68|               4.5|       10|
|0142001740|310|     65| 4.769230769230769|       10|
|067976402X|221|     64|          3.453125|       10|
|0679781587|318|     64|           4.96875|       10|
|0446672211|274|     62| 4.419354838709677|       10|
|0440214041|176|     59| 2.983050847457627|       10|
|0060930535|249|     59| 4.220338983050848|       10|
|0375727345|179|     58| 3.086206896551724|       10|
|0156027321|204|     57|3.5789473684210527|       10|
|044023722X|199|     56|3.5535714285714284|       10|
|0316601950|201|     54|3.7222222222222223|       10|
|0440226430|217|     53|  4.09433962264151|       10|
|044021145X|158|     53| 2.981132075471698|       10|
|0804106304|175|     52|3.3653846153846154|       10|
|0743418174|246|     50|              4.92|       10|
+----------+---+-------+------------------+---------+
only showing top 20 rows

In [24]:
# مبحث بعدی
df1.createOrReplaceTempView('my_rating')

In [25]:
spark.sql('select * from my_rating where rate > 5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [26]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn').show()

+----------+-----------------+
|      isbn|              AVG|
+----------+-----------------+
|2080674722|              0.0|
|3499134004|              0.0|
|3548603203|              4.8|
|880781112X|              6.0|
|0738205737|              5.0|
|0749317256|              0.0|
|0515131520|              3.0|
|8471662531|              7.0|
|0441005470|              0.0|
|0739417096|              8.0|
|0767906373|              0.0|
|0425087859|              0.0|
|0553574566|            3.125|
|0498024253|              0.0|
|0395977894|              5.0|
|0505522004|              7.0|
|0425188787|             2.75|
|0515137111|              3.6|
|0767905385|6.285714285714286|
|0553580906|              1.5|
+----------+-----------------+
only showing top 20 rows

In [27]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn ORDER BY AVG DESC').show()

+-----------+----+
|       isbn| AVG|
+-----------+----+
| 0394731271|10.0|
| 0425182150|10.0|
| 0690041535|10.0|
| 0886773776|10.0|
| 0688141862|10.0|
| 067088782X|10.0|
| 0945367198|10.0|
| 0688176461|10.0|
| 0874774357|10.0|
| 3937341145|10.0|
| 3257202083|10.0|
| 0525938508|10.0|
| 1565111575|10.0|
| 0859051595|10.0|
|44007424195|10.0|
| 0803720963|10.0|
| 8882740455|10.0|
| 0307124568|10.0|
| 0590683608|10.0|
| 0333968158|10.0|
+-----------+----+
only showing top 20 rows

In [28]:
spark.sql('select isbn, avg(rate) as AVG from my_rating group By isbn ORDER BY AVG DESC').show()

+-----------+----+
|       isbn| AVG|
+-----------+----+
| 0394731271|10.0|
| 0425182150|10.0|
| 0690041535|10.0|
| 0886773776|10.0|
| 0688141862|10.0|
| 067088782X|10.0|
| 0945367198|10.0|
| 0688176461|10.0|
| 0874774357|10.0|
| 3937341145|10.0|
| 3257202083|10.0|
| 0525938508|10.0|
| 1565111575|10.0|
| 0859051595|10.0|
|44007424195|10.0|
| 0803720963|10.0|
| 8882740455|10.0|
| 0307124568|10.0|
| 0590683608|10.0|
| 0333968158|10.0|
+-----------+----+
only showing top 20 rows

## next
### join

In [29]:
rating_df=spark.read.options(sep=';',header=True,inferSchema=True).csv('Book-Ratings.csv')
book_df=  spark.read.options(sep=';',header=True,inferSchema=True).csv('Books.csv')
user_df=  spark.read.options(sep=';',header=True,inferSchema=True).csv('Users.csv')

In [30]:
rating_df.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: integer (nullable = true)

In [31]:
book_df.printSchema()

root
 |-- ISBN: string (nullable = true)
 |-- BookTitle: string (nullable = true)
 |-- BookAuthor: string (nullable = true)
 |-- YearOfPublication: integer (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- ImageURLS: string (nullable = true)
 |-- ImageURLM: string (nullable = true)
 |-- ImageURLL: string (nullable = true)

In [32]:
user_df.printSchema()

root
 |-- UserID: integer (nullable = true)
 |-- USERNAME: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: string (nullable = true)

In [33]:
rating_df.join(user_df).show()
# the default is cross_join

+------+----------+----+------+-----------+------------------+----+
|userid|      isbn|rate|UserID|   USERNAME|          Location| Age|
+------+----------+----+------+-----------+------------------+----+
|276725|034545104X|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276726|0155061224|   5|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276727|0446520802|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276729|052165615X|   3|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276729|0521795028|   6|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276733|2080674722|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276736|3257224281|   8|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276737|0600570967|   6|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276744|038550120X|   7|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276745| 342310538|  10|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|0425115801|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|0449006522|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|0553561618|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|055356451X|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|0786013990|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276746|0786014512|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276747|0060517794|   9|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276747|0451192001|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276747|0609801279|   0|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
|276747|0671537458|   9|     1|bzsufoRTLN2|nyc, new york, usa|NULL|
+------+----------+----+------+-----------+------------------+----+
only showing top 20 rows

In [34]:
rating_df.join(user_df,rating_df['userid']==user_df['UserID']).show()
# جوین با شرط

+------+----------+----+------+-----------+--------------------+----+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|
+------+----------+----+------+-----------+--------------------+----+
|     2|0195153448|   0|     2|fq7kfHg4VEI|stockton, califor...|  18|
|     7| 034542252|   0|     7|7rdddpZpjWp| washington, dc, usa|NULL|
|     8|1881320189|   7|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1575663937|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1567407781|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1558746218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|1552041778|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0887841740|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|080652121X|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0771074670|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0771025661|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|074322678X|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0679425608|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0671870432|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0425176428|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0399135782|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0393045218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0374157065|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0060973129|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
|     8|0002005018|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|
+------+----------+----+------+-----------+--------------------+----+
only showing top 20 rows

In [35]:
rating_df.join(user_df,rating_df['userid']==user_df['UserID']).show(truncate=False)

+------+----------+----+------+-----------+-------------------------+----+
|userid|isbn      |rate|UserID|USERNAME   |Location                 |Age |
+------+----------+----+------+-----------+-------------------------+----+
|2     |0195153448|0   |2     |fq7kfHg4VEI|stockton, california, usa|18  |
|7     |034542252 |0   |7     |7rdddpZpjWp|washington, dc, usa      |NULL|
|8     |1881320189|7   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1575663937|6   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1567407781|6   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1558746218|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |1552041778|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0887841740|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |080652121X|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0771074670|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0771025661|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |074322678X|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0679425608|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0671870432|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0425176428|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0399135782|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0393045218|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0374157065|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0060973129|0   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
|8     |0002005018|5   |8     |qiOJebWJS2i|timmins, ontario, canada |NULL|
+------+----------+----+------+-----------+-------------------------+----+
only showing top 20 rows

In [38]:
joinType='left_anti'
join_exp=rating_df['userid']==user_df['UserID']
rating_df.join(user_df,join_exp , joinType).show(truncate=True)

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
|276747|0671537458|   9|
+------+----------+----+
only showing top 20 rows

In [39]:
type(join_exp)

pyspark.sql.column.Column

In [41]:
joinType='left_anti'
join_exp=rating_df['userid']==user_df['UserID']
rating_df.join(user_df, join_exp , joinType).count()

9578

In [50]:
print(rating_df.count())
print(user_df.count())
print(282381 *147789)
print(rating_df.join(user_df).count())

282381
147789
41732805609
41732805609

# next

In [51]:
rating_df.createOrReplaceTempView('rating')
user_df.createOrReplaceTempView('users')
book_df.createOrReplaceTempView('books')

In [54]:
spark.sql('SELECT * FROM rating,users,books WHERE rating.userid==users.userid AND rating.isbn== books.isbn').show()

+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|userid|      isbn|rate|UserID|   USERNAME|            Location| Age|      ISBN|           BookTitle|          BookAuthor|YearOfPublication|           Publisher|           ImageURLS|           ImageURLM|           ImageURLL|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
|     2|0195153448|   0|     2|fq7kfHg4VEI|stockton, califor...|  18|0195153448| Classical Mythology|  Mark P. O. Morford|             2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|1881320189|   7|     8|qiOJebWJS2i|timmins, ontario,...|NULL|1881320189|Goodbye to the Bu...|        Julia Oliver|             1994|      River City Pub|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|1575663937|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|1575663937|More Cunning Than...|  Robert Hendrickson|             1999|Kensington Publis...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|1567407781|   6|     8|qiOJebWJS2i|timmins, ontario,...|NULL|1567407781|The Witchfinder (...|   Loren D. Estleman|             1998|Brilliance Audio ...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|1558746218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|1558746218|A Second Chicken ...|       Jack Canfield|             1998|Health Communicat...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|1552041778|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|1552041778|            Jane Doe|        R. J. Kaiser|             1999|          Mira Books|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0887841740|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0887841740|  The Middle Stories|         Sheila Heti|             2004|House of Anansi P...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|080652121X|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|080652121X|Hitler's Secret B...|          Adam Lebor|             2000|       Citadel Press|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0771074670|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0771074670|Nights Below Stat...|David Adams Richards|             1988|     Emblem Editions|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|074322678X|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|074322678X|Where You'll Find...|         Ann Beattie|             2002|            Scribner|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0679425608|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0679425608|Under the Black F...|     David Cordingly|             1996|        Random House|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0671870432|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0671870432|     PLEADING GUILTY|         Scott Turow|             1993|          Audioworks|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0425176428|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0425176428|What If?: The Wor...|       Robert Cowley|             2000|Berkley Publishin...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0399135782|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0399135782|The Kitchen God's...|             Amy Tan|             1991|    Putnam Pub Group|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0393045218|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0393045218|The Mummies of Ur...|     E. J. W. Barber|             1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0374157065|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0374157065|Flu: The Story of...|    Gina Bari Kolata|             1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0060973129|   0|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0060973129|Decision in Normandy|        Carlo D'Este|             1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|     8|0002005018|   5|     8|qiOJebWJS2i|timmins, ontario,...|NULL|0002005018|        Clara Callan|Richard Bruce Wright|             2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|     9|0609804618|   0|     9|gkcxQJLS13A|germantown, tenne...|NULL|0609804618|Our Dumb Century:...|           The Onion|             1999|  Three Rivers Press|http://images.ama...|http://images.ama...|http://images.ama...|
|     9|0452264464|   6|     9|gkcxQJLS13A|germantown, tenne...|NULL|0452264464|Beloved (Plume Co...|       Toni Morrison|             1994|               Plume|http://images.ama...|http://images.ama...|http://images.ama...|
+------+----------+----+------+-----------+--------------------+----+----------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [55]:
spark.sql('SELECT * FROM rating,users,books WHERE rating.userid==users.userid AND rating.isbn== books.isbn').show(truncate=False,vertical=True)

-RECORD 0---------------------------------------------------------------------------------------------------------------
 userid            | 2
 isbn              | 0195153448
 rate              | 0
 UserID            | 2
 USERNAME          | fq7kfHg4VEI
 Location          | stockton, california, usa
 Age               | 18
 ISBN              | 0195153448
 BookTitle         | Classical Mythology
 BookAuthor        | Mark P. O. Morford
 YearOfPublication | 2002
 Publisher         | Oxford University Press
 ImageURLS         | http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
-RECORD 1---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 1881320189
 rate              | 7
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 1881320189
 BookTitle         | Goodbye to the Buttermilk Sky
 BookAuthor        | Julia Oliver
 YearOfPublication | 1994
 Publisher         | River City Pub
 ImageURLS         | http://images.amazon.com/images/P/1881320189.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/1881320189.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/1881320189.01.LZZZZZZZ.jpg
-RECORD 2---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 1575663937
 rate              | 6
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 1575663937
 BookTitle         | More Cunning Than Man: A Social History of Rats and Man
 BookAuthor        | Robert Hendrickson
 YearOfPublication | 1999
 Publisher         | Kensington Publishing Corp.
 ImageURLS         | http://images.amazon.com/images/P/1575663937.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/1575663937.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/1575663937.01.LZZZZZZZ.jpg
-RECORD 3---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 1567407781
 rate              | 6
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 1567407781
 BookTitle         | The Witchfinder (Amos Walker Mystery Series)
 BookAuthor        | Loren D. Estleman
 YearOfPublication | 1998
 Publisher         | Brilliance Audio - Trade
 ImageURLS         | http://images.amazon.com/images/P/1567407781.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/1567407781.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/1567407781.01.LZZZZZZZ.jpg
-RECORD 4---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 1558746218
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 1558746218
 BookTitle         | A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)
 BookAuthor        | Jack Canfield
 YearOfPublication | 1998
 Publisher         | Health Communications
 ImageURLS         | http://images.amazon.com/images/P/1558746218.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/1558746218.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/1558746218.01.LZZZZZZZ.jpg
-RECORD 5---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 1552041778
 rate              | 5
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 1552041778
 BookTitle         | Jane Doe
 BookAuthor        | R. J. Kaiser
 YearOfPublication | 1999
 Publisher         | Mira Books
 ImageURLS         | http://images.amazon.com/images/P/1552041778.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/1552041778.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/1552041778.01.LZZZZZZZ.jpg
-RECORD 6---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0887841740
 rate              | 5
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0887841740
 BookTitle         | The Middle Stories
 BookAuthor        | Sheila Heti
 YearOfPublication | 2004
 Publisher         | House of Anansi Press
 ImageURLS         | http://images.amazon.com/images/P/0887841740.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0887841740.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0887841740.01.LZZZZZZZ.jpg
-RECORD 7---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 080652121X
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 080652121X
 BookTitle         | Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust
 BookAuthor        | Adam Lebor
 YearOfPublication | 2000
 Publisher         | Citadel Press
 ImageURLS         | http://images.amazon.com/images/P/080652121X.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/080652121X.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/080652121X.01.LZZZZZZZ.jpg
-RECORD 8---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0771074670
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0771074670
 BookTitle         | Nights Below Station Street
 BookAuthor        | David Adams Richards
 YearOfPublication | 1988
 Publisher         | Emblem Editions
 ImageURLS         | http://images.amazon.com/images/P/0771074670.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0771074670.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0771074670.01.LZZZZZZZ.jpg
-RECORD 9---------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 074322678X
 rate              | 5
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 074322678X
 BookTitle         | Where You'll Find Me: And Other Stories
 BookAuthor        | Ann Beattie
 YearOfPublication | 2002
 Publisher         | Scribner
 ImageURLS         | http://images.amazon.com/images/P/074322678X.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/074322678X.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/074322678X.01.LZZZZZZZ.jpg
-RECORD 10--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0679425608
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0679425608
 BookTitle         | Under the Black Flag: The Romance and the Reality of Life Among the Pirates
 BookAuthor        | David Cordingly
 YearOfPublication | 1996
 Publisher         | Random House
 ImageURLS         | http://images.amazon.com/images/P/0679425608.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0679425608.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0679425608.01.LZZZZZZZ.jpg
-RECORD 11--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0671870432
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0671870432
 BookTitle         | PLEADING GUILTY
 BookAuthor        | Scott Turow
 YearOfPublication | 1993
 Publisher         | Audioworks
 ImageURLS         | http://images.amazon.com/images/P/0671870432.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0671870432.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0671870432.01.LZZZZZZZ.jpg
-RECORD 12--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0425176428
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0425176428
 BookTitle         | What If?: The World's Foremost Military Historians Imagine What Might Have Been
 BookAuthor        | Robert Cowley
 YearOfPublication | 2000
 Publisher         | Berkley Publishing Group
 ImageURLS         | http://images.amazon.com/images/P/0425176428.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0425176428.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0425176428.01.LZZZZZZZ.jpg
-RECORD 13--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0399135782
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0399135782
 BookTitle         | The Kitchen God's Wife
 BookAuthor        | Amy Tan
 YearOfPublication | 1991
 Publisher         | Putnam Pub Group
 ImageURLS         | http://images.amazon.com/images/P/0399135782.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0399135782.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0399135782.01.LZZZZZZZ.jpg
-RECORD 14--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0393045218
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0393045218
 BookTitle         | The Mummies of Urumchi
 BookAuthor        | E. J. W. Barber
 YearOfPublication | 1999
 Publisher         | W. W. Norton &amp; Company
 ImageURLS         | http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg
-RECORD 15--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0374157065
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0374157065
 BookTitle         | Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It
 BookAuthor        | Gina Bari Kolata
 YearOfPublication | 1999
 Publisher         | Farrar Straus Giroux
 ImageURLS         | http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
-RECORD 16--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0060973129
 rate              | 0
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0060973129
 BookTitle         | Decision in Normandy
 BookAuthor        | Carlo D'Este
 YearOfPublication | 1991
 Publisher         | HarperPerennial
 ImageURLS         | http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
-RECORD 17--------------------------------------------------------------------------------------------------------------
 userid            | 8
 isbn              | 0002005018
 rate              | 5
 UserID            | 8
 USERNAME          | qiOJebWJS2i
 Location          | timmins, ontario, canada
 Age               | NULL
 ISBN              | 0002005018
 BookTitle         | Clara Callan
 BookAuthor        | Richard Bruce Wright
 YearOfPublication | 2001
 Publisher         | HarperFlamingo Canada
 ImageURLS         | http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
-RECORD 18--------------------------------------------------------------------------------------------------------------
 userid            | 9
 isbn              | 0609804618
 rate              | 0
 UserID            | 9
 USERNAME          | gkcxQJLS13A
 Location          | germantown, tennessee, usa
 Age               | NULL
 ISBN              | 0609804618
 BookTitle         | Our Dumb Century: The Onion Presents 100 Years of Headlines from America's Finest News Source
 BookAuthor        | The Onion
 YearOfPublication | 1999
 Publisher         | Three Rivers Press
 ImageURLS         | http://images.amazon.com/images/P/0609804618.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0609804618.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0609804618.01.LZZZZZZZ.jpg
-RECORD 19--------------------------------------------------------------------------------------------------------------
 userid            | 9
 isbn              | 0452264464
 rate              | 6
 UserID            | 9
 USERNAME          | gkcxQJLS13A
 Location          | germantown, tennessee, usa
 Age               | NULL
 ISBN              | 0452264464
 BookTitle         | Beloved (Plume Contemporary Fiction)
 BookAuthor        | Toni Morrison
 YearOfPublication | 1994
 Publisher         | Plume
 ImageURLS         | http://images.amazon.com/images/P/0452264464.01.THUMBZZZ.jpg
 ImageURLM         | http://images.amazon.com/images/P/0452264464.01.MZZZZZZZ.jpg
 ImageURLL         | http://images.amazon.com/images/P/0452264464.01.LZZZZZZZ.jpg
only showing top 20 rows

In [56]:
from pyspark.sql import SparkSession

In [57]:
spark=SparkSession.builder.appName('DF transformation').getOrCreate()

In [63]:
my_df=spark.read.options(sep=';',header=True).csv('Book-Ratings.csv')

# working with DF without Schema

In [58]:
from pyspark.sql.types import *

In [60]:
user_id_field=StructField('u_id',StringType(),True)
isbn_field=StructField('isbn',StringType(),True)
rate_field=StructField('rating',StringType(),True)

In [61]:
my_schema=StructType([user_id_field,isbn_field,rate_field])

In [62]:
my_schema

StructType([StructField('u_id', StringType(), True), StructField('isbn', StringType(), True), StructField('rating', StringType(), True)])

# remove row or columns

In [64]:
my_df.count()

1149780

In [66]:
my_df.filter('rate>5').count()

363268

In [67]:
my_df.show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
|276747|0671537458|   9|
+------+----------+----+
only showing top 20 rows

In [69]:
#حذف ستون
my_df.drop('rate').show()

+------+----------+
|userid|      isbn|
+------+----------+
|276725|034545104X|
|276726|0155061224|
|276727|0446520802|
|276729|052165615X|
|276729|0521795028|
|276733|2080674722|
|276736|3257224281|
|276737|0600570967|
|276744|038550120X|
|276745| 342310538|
|276746|0425115801|
|276746|0449006522|
|276746|0553561618|
|276746|055356451X|
|276746|0786013990|
|276746|0786014512|
|276747|0060517794|
|276747|0451192001|
|276747|0609801279|
|276747|0671537458|
+------+----------+
only showing top 20 rows

# add row or columns

In [70]:
new_df=my_df.filter('rate>5')

In [71]:
my_df.count()

1149780

In [72]:
new_df.count()

363268

In [73]:
all_df=new_df.union(my_df)

In [74]:
all_df.count()

1513048

In [75]:
1149780+363268==all_df.count()

True

In [76]:
# تغییر نام ستون
my_df.withColumnRenamed('u_id','user_id').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276725|034545104X|   0|
|276726|0155061224|   5|
|276727|0446520802|   0|
|276729|052165615X|   3|
|276729|0521795028|   6|
|276733|2080674722|   0|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276746|0425115801|   0|
|276746|0449006522|   0|
|276746|0553561618|   0|
|276746|055356451X|   0|
|276746|0786013990|   0|
|276746|0786014512|   0|
|276747|0060517794|   9|
|276747|0451192001|   0|
|276747|0609801279|   0|
|276747|0671537458|   9|
+------+----------+----+
only showing top 20 rows

In [86]:
#template--> my_df.withColumn('column name', Operation)
from pyspark.sql.functions import lit # Literal = به معنای واقعی کلمه
my_df.withColumn('new_call',lit(5)).show()

+------+----------+----+--------+
|userid|      isbn|rate|new_call|
+------+----------+----+--------+
|276725|034545104X|   0|       5|
|276726|0155061224|   5|       5|
|276727|0446520802|   0|       5|
|276729|052165615X|   3|       5|
|276729|0521795028|   6|       5|
|276733|2080674722|   0|       5|
|276736|3257224281|   8|       5|
|276737|0600570967|   6|       5|
|276744|038550120X|   7|       5|
|276745| 342310538|  10|       5|
|276746|0425115801|   0|       5|
|276746|0449006522|   0|       5|
|276746|0553561618|   0|       5|
|276746|055356451X|   0|       5|
|276746|0786013990|   0|       5|
|276746|0786014512|   0|       5|
|276747|0060517794|   9|       5|
|276747|0451192001|   0|       5|
|276747|0609801279|   0|       5|
|276747|0671537458|   9|       5|
+------+----------+----+--------+
only showing top 20 rows

In [88]:
#instead of literal we can have an operation
my_df.withColumn('new_call',my_df['rate']>5).show()

+------+----------+----+--------+
|userid|      isbn|rate|new_call|
+------+----------+----+--------+
|276725|034545104X|   0|   false|
|276726|0155061224|   5|   false|
|276727|0446520802|   0|   false|
|276729|052165615X|   3|   false|
|276729|0521795028|   6|    true|
|276733|2080674722|   0|   false|
|276736|3257224281|   8|    true|
|276737|0600570967|   6|    true|
|276744|038550120X|   7|    true|
|276745| 342310538|  10|    true|
|276746|0425115801|   0|   false|
|276746|0449006522|   0|   false|
|276746|0553561618|   0|   false|
|276746|055356451X|   0|   false|
|276746|0786013990|   0|   false|
|276746|0786014512|   0|   false|
|276747|0060517794|   9|    true|
|276747|0451192001|   0|   false|
|276747|0609801279|   0|   false|
|276747|0671537458|   9|    true|
+------+----------+----+--------+
only showing top 20 rows

In [93]:
# we can cast (changing the type of columns)
my_df.withColumn('userid',col('userid').cast('long')).printSchema()

root
 |-- userid: long (nullable = true)
 |-- isbn: string (nullable = true)
 |-- rate: string (nullable = true)

In [95]:
#(where) is the other way of using (filter)

In [96]:
my_df.filter('rate > 5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [97]:
my_df.where('rate>5').show()

+------+----------+----+
|userid|      isbn|rate|
+------+----------+----+
|276729|0521795028|   6|
|276736|3257224281|   8|
|276737|0600570967|   6|
|276744|038550120X|   7|
|276745| 342310538|  10|
|276747|0060517794|   9|
|276747|0671537458|   9|
|276747|0679776818|   8|
|276747|0943066433|   7|
|276747|1885408226|   7|
|276748|0747558167|   6|
|276751|3596218098|   8|
|276754|0684867621|   8|
|276760|8440682697|  10|
|276762|3453092007|   8|
|276772|0553572369|   7|
|276772|3499230933|  10|
|276772|3596151465|  10|
|276774|3442136644|   9|
|276780|8484330478|   7|
+------+----------+----+
only showing top 20 rows

In [98]:
#note
# اسپارک تمام فیلترها را به طور همزمان اجرا میکند
# حتی اگر برای مثال ده تا فیلتر نوشته باشیم، ترتیب آن تاثیری در جواب نهایی ندارد
#این یک مزیت است

In [99]:
#sort === Orderby
#این دومورد کاری که انجام میدهند نتیجه یکسانی دارد

# save as json file

In [102]:
my_df.write.json('khatam_sql2')
# که به ازای هر 32 مگابایت یک پارتیشن تشکیل میشود

#save as CSV file

In [103]:
my_df.write.csv('khatam_sql2_CSV')

In [104]:
# چهار مود برای رایت داریم
#we have 4 modes for write
# append -Overwrite - Ignor - Error

In [108]:
# mode Overwrite
my_df.write.mode('overwrite').options(header=True).csv('khatam_sql2_CSV')

In [110]:
# mode append
#تعداد فایلها افزایش می یابد
my_df.write.mode('append').options(header=True).csv('khatam_sql2_CSV')

In [112]:
# mode ignore
# کار خاصی نمیکند و در صورت اشغال بودن فایل تولید نمیشود، یعنی ارور تولید نمیکند و روی اعصاب نمیرود :)
my_df.write.mode('ignore').options(header=True).csv('khatam_sql3_CSV')

In [ ]:
# پایان