<a href="https://colab.research.google.com/github/strumer69/Learn_spark/blob/main/Z_all_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# session 1 : 
## initialization

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=804490a81246d19ccdcf617c77ee590364d245fbfd7199fdb8dc749c4a490096
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('emrooz').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark=spark.read.csv('file.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|    ali| 20|
|   reza| 25|
|shahram| 31|
+-------+---+

In [9]:
spark.read.option('header','true').csv('file.csv').show()

+-------+---+
|   name|age|
+-------+---+
|    ali| 20|
|   reza| 25|
|shahram| 31|
+-------+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(_c0='name', _c1='age'),
 Row(_c0='ali', _c1='20'),
 Row(_c0='reza', _c1='25')]

In [13]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

# session 2:
* Pyspark DataFrame
* reading the data set
* checking the Datatype of the Columns
* Check Describe option similar to pandas
* adding Columns
* Dropping Columns
* renaming columns
* link:
https://github.com/strumer69/Learn_spark/blob/main/B_practice%20.ipynb

In [ ]:
# pip install pyspark
#from pyspark.sql import SparkSession

df_pyspark=spark.read.option('header','true').csv('file2.csv').show()

In [14]:
df_pyspark=spark.read.option('header','true').csv('file2.csv')

In [15]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [16]:
df_pyspark=spark.read.csv('file2.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|    ali| 20|         2|
|   reza| 25|         5|
|shahram| 32|         7|
+-------+---+----------+

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.select('Name','Experience').show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|    ali|         2|
|   reza|         5|
|shahram|         7|
+-------+----------+

In [20]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [21]:
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+
|summary|   name|               age|       experience|
+-------+-------+------------------+-----------------+
|  count|      3|                 3|                3|
|   mean|   null|25.666666666666668|4.666666666666667|
| stddev|   null| 6.027713773341708|2.516611478423583|
|    min|    ali|                20|                2|
|    max|shahram|                32|                7|
+-------+-------+------------------+-----------------+

In [23]:
# add column
new_data_frame=df_pyspark.withColumn('Exoerience-after_2_years',df_pyspark['Experience']+2).show()

+-------+---+----------+------------------------+
|   name|age|experience|Exoerience-after_2_years|
+-------+---+----------+------------------------+
|    ali| 20|         2|                       4|
|   reza| 25|         5|                       7|
|shahram| 32|         7|                       9|
+-------+---+----------+------------------------+

In [24]:
df_pyspark.withColumnRenamed('name','new_name').show()

+--------+---+----------+
|new_name|age|experience|
+--------+---+----------+
|     ali| 20|         2|
|    reza| 25|         5|
| shahram| 32|         7|
+--------+---+----------+

# session 3
## missing values
* link :
* https://github.com/strumer69/Learn_spark/blob/main/C_missing_values.ipynb

* Dropping Columns
* Dropping Rows
* Various Parameter In Dropping functionalities
* Handling Missing values by Mean, MEdian And Mode

In [25]:
# pip install pyspark
#from pyspark.sql import SparkSession
# spark=SparkSession.builder.appName('Practise').getOrCreate()

In [26]:
df_pyspark=spark.read.csv('table.csv',header=True,inferSchema=True)

In [27]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [28]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [29]:
df_pyspark_miss_dar=df_pyspark.na.fill('missed')
df_pyspark_miss_dar.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|  missed|  34|        10| 38000|
|  missed|  36|      null|  null|
+--------+----+----------+------+

In [30]:
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [31]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [32]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
+-------+---+----------+------+

In [33]:
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
+-------+---+----------+------+

In [37]:
df_pyspark.na.drop(how='any',thresh=0).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [38]:
# ردیفی که  یک مورد صفر  یا کمتر داشته باشد، بماند 

df_pyspark.na.drop(how='any',thresh=1).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [39]:
#  ردیفی که بیشتر از دو  صفر یا کمتر داشته باشد، بماند 
# مثلا ردیفی که سه مورد صفر داشته حذف شده است
df_pyspark.na.drop(how='any',thresh=2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [40]:
##Subset-- delet nan values only from the subset column
df_pyspark.na.drop(how="any",subset=['Age']).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  david| 24|         3| 20000|
| davood| 21|         1| 15000|
|ebrahim| 23|         2| 18000|
|   null| 34|        10| 38000|
|   null| 36|      null|  null|
+-------+---+----------+------+

In [45]:
df_pyspark_miss

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [44]:
# سوال: چرا جایگذاری نمی شود
df_pyspark_miss=df_pyspark.na.fill('Missed',['Experience','age'])
df_pyspark_miss.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [49]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [41]:
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [42]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|     ali|  31|        10| 30000|
|    reza|  30|         8| 25000|
|  mammad|  29|         4| 20000|
|   david|  24|         3| 20000|
|  davood|  21|         1| 15000|
| ebrahim|  23|         2| 18000|
|abrahamo|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [46]:
import numpy as np
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [
    ("James","CA",np.NaN), ("Julia","",None),
    ("Ram",None,200.0), ("Ramya","NULL",np.NAN)
]
df =spark.createDataFrame(data,["name","state","number"])
df.show()

+-----+-----+------+
| name|state|number|
+-----+-----+------+
|James|   CA|   NaN|
|Julia|     |  null|
|  Ram| null| 200.0|
|Ramya| NULL|   NaN|
+-----+-----+------+

In [47]:
type(df)

pyspark.sql.dataframe.DataFrame

In [48]:
df.na.fill('Missing Values',['state','number']).show()

+-----+--------------+------+
| name|         state|number|
+-----+--------------+------+
|James|            CA|   NaN|
|Julia|              |  null|
|  Ram|Missing Values| 200.0|
|Ramya|          NULL|   NaN|
+-----+--------------+------+

In [50]:
# like the same in Sklearn library
from pyspark.ml.feature import Imputer

In [51]:
imputer=Imputer(
    inputCols=['age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age', 'Experience', 'Salary']]  ).setStrategy("median")

In [52]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|     ali|  31|        10| 30000|         31|                10|         30000|
|    reza|  30|         8| 25000|         30|                 8|         25000|
|  mammad|  29|         4| 20000|         29|                 4|         20000|
|   david|  24|         3| 20000|         24|                 3|         20000|
|  davood|  21|         1| 15000|         21|                 1|         15000|
| ebrahim|  23|         2| 18000|         23|                 2|         18000|
|abrahamo|null|      null| 40000|         29|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
|    null|  36|      null|  null|         36|                 4|         20000|
+--------+----+----------+------+-----------+------------------+--------------+

# session 4
## filters
* link
* https://github.com/strumer69/Learn_spark/blob/main/D_Filter_Operations.ipynb

In [53]:
#pip install pyspark
#from pyspark.sql import SparkSession
#spark=SparkSession.builder.appName('dataframe').getOrCreate()
df_pyspark=spark.read.csv('salary.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|   tomy| 23|         2| 18000|
+-------+---+----------+------+

In [54]:
### Salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|   tomy| 23|         2| 18000|
+-------+---+----------+------+

In [58]:
# فیلتر افرادی که در آمد کمتر مساوی بیست هزار دارند.
# در خروجی فقط نام و سن به ما نمایش داده شود
df_pyspark.filter('Salary<=20000').select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
| mammad| 29|
|  rasul| 24|
|srashel| 21|
|   tomy| 23|
+-------+---+

In [59]:
# استفاده از عملگر شرطی اُر :)
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|    ali| 31|        10| 30000|
|   reza| 30|         8| 25000|
| mammad| 29|         4| 20000|
|  rasul| 24|         3| 20000|
|srashel| 21|         1| 15000|
|   tomy| 23|         2| 18000|
+-------+---+----------+------+

In [60]:
# inverse condition
# عملگر نقیض
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
| ali| 31|        10| 30000|
|reza| 30|         8| 25000|
+----+---+----------+------+

# Session 5
## GroupBy - Aggregate
* link:
* https://github.com/strumer69/Learn_spark/blob/main/E_groupBy_aggregate.ipynb

In [62]:
# pip install pyspark
# from pyspark.sql import SparkSession
# spark=SparkSession.builder.appName('GroupByPractice').getOrCreate()
dfspark=spark.read.csv('salary_2.csv',header=True,inferSchema=True)

In [63]:
dfspark.show()

+----+------------+------+
|Name| Departments|salary|
+----+------------+------+
| ali|Data Science| 10000|
| ali|         IOT|  5000|
| ali|    Big Data|  4000|
|reza|    Big Data|  4000|
|reza|Data Science|  3000|
|reza|Data Science| 20000|
|mahi|         IOT| 10000|
|mahi|    Big Data|  5000|
|mahi|Data Science| 10000|
|mahi|    Big Data|  2000|
+----+------------+------+

In [65]:
# جمع دریافتی علی از شرکتهای مختلف چقدر است؟
dfspark.groupBy('Name').sum().show()

+----+-----------+
|Name|sum(salary)|
+----+-----------+
| ali|      19000|
|mahi|      27000|
|reza|      27000|
+----+-----------+

In [66]:
# میانگین دریافتی نفرات از شرکتهای مختلف چقدر است؟
dfspark.groupBy('Name').avg().show()

+----+-----------------+
|Name|      avg(salary)|
+----+-----------------+
| ali|6333.333333333333|
|mahi|           6750.0|
|reza|           9000.0|
+----+-----------------+

In [67]:
#count frequency of departments
# به تفکیک بگویید هر دپارتمان چند بار تکرار شده است؟
dfspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [68]:
# مجموع پرداختی هر سازمان چقدر است؟
dfspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [69]:
# جمع پرداختی سازمان ها باهم دیگر چقدر است؟
dfspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

# session 6
## machine learning in spark
* link: 
* https://github.com/strumer69/Learn_spark/blob/main/F_spark_Mlib.ipynb

In [70]:
#  pip install pyspark
# from pyspark.sql import SparkSession
# spark=SparkSession.builder.appName('Missing').getOrCreate()

In [73]:
#
training = spark.read.csv('test1_data.csv',header=True,inferSchema=True)
training.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|     ali| 31|        10| 30000|
|    reza| 30|         8| 25000|
|   akbar| 29|         4| 20000|
|pedramoo| 24|         3| 20000|
| hasanoo| 21|         1| 15000|
|    kami| 23|         2| 18000|
+--------+---+----------+------+

In [74]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [75]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [76]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [78]:
output=featureassembler.transform(training)
output.show()

+--------+---+----------+------+--------------------+
|    Name|age|Experience|Salary|Independent Features|
+--------+---+----------+------+--------------------+
|     ali| 31|        10| 30000|         [31.0,10.0]|
|    reza| 30|         8| 25000|          [30.0,8.0]|
|   akbar| 29|         4| 20000|          [29.0,4.0]|
|pedramoo| 24|         3| 20000|          [24.0,3.0]|
| hasanoo| 21|         1| 15000|          [21.0,1.0]|
|    kami| 23|         2| 18000|          [23.0,2.0]|
+--------+---+----------+------+--------------------+

In [79]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [81]:
finalized_data=output.select("Independent Features","Salary")
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [82]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])

In [83]:
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [84]:
### Coefficients
regressor.coefficients

DenseVector([-500.0, 2500.0])

In [85]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [86]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,1.0]| 15000|16500.000000000156|
|          [30.0,8.0]| 25000|29499.999999999123|
|         [31.0,10.0]| 30000|33999.999999998705|
+--------------------+------+------------------+

In [87]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(3333.3333333326614, 12833333.333327407)

# session 7
## Data_Bricks
* link:
* https://github.com/strumer69/Learn_spark/blob/main/G_Data_bricks_linear-regression_.ipynb

In [92]:
df=spark.read.csv("tips.csv",header=True,inferSchema=True)
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [93]:
df.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [94]:
df.columns

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [95]:
df.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [96]:
### handling categorical features
from pyspark.ml.feature import StringIndexer

In [97]:
from pygments.token import String
indexer=StringIndexer(inputCol='sex',outputCol='Sex_indexed')
df_r=indexer.fit(df).transform(df)
df_r.show()

+----------+----+------+------+---+------+----+-----------+
|total_bill| tip|   sex|smoker|day|  time|size|Sex_indexed|
+----------+----+------+------+---+------+----+-----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|
+----------+----+------+------+---+------+----+-----------+
only showing top 20 rows

In [102]:
indexer=StringIndexer(inputCols=['smoker','day','time'],outputCols=['smoker_indexed','day_indexed','time_indexed'])
df_r2=indexer.fit(df_r).transform(df_r)
df_r2.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|Sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [103]:
df_r2.columns

['total_bill',
 'tip',
 'sex',
 'smoker',
 'day',
 'time',
 'size',
 'Sex_indexed',
 'smoker_indexed',
 'day_indexed',
 'time_indexed']

In [107]:
from pyspark.ml.feature import VectorAssembler

featureassembler=VectorAssembler(inputCols= 
['tip','size','Sex_indexed','smoker_indexed','day_indexed','time_indexed'],
outputCol='Independent_Features')

output=featureassembler.transform(df_r2)
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|Sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent_Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [105]:
output.select('Independent_Features').show()

+--------------------+
|Independent_Features|
+--------------------+
|[1.01,2.0,1.0,0.0...|
|[1.66,3.0,0.0,0.0...|
|[3.5,3.0,0.0,0.0,...|
|[3.31,2.0,0.0,0.0...|
|[3.61,4.0,1.0,0.0...|
|[4.71,4.0,0.0,0.0...|
|[2.0,2.0,0.0,0.0,...|
|[3.12,4.0,0.0,0.0...|
|[1.96,2.0,0.0,0.0...|
|[3.23,2.0,0.0,0.0...|
|[1.71,2.0,0.0,0.0...|
|[5.0,4.0,1.0,0.0,...|
|[1.57,2.0,0.0,0.0...|
|[3.0,4.0,0.0,0.0,...|
|[3.02,2.0,1.0,0.0...|
|[3.92,2.0,0.0,0.0...|
|[1.67,3.0,1.0,0.0...|
|[3.71,3.0,0.0,0.0...|
|[3.5,3.0,1.0,0.0,...|
|(6,[0,1],[3.35,3.0])|
+--------------------+
only showing top 20 rows

In [108]:
finalized_data=output.select('Independent_Features','total_bill')
finalized_data.show()

+--------------------+----------+
|Independent_Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [109]:
from pyspark.ml.regression import LinearRegression

##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])

regressor=LinearRegression(featuresCol='Independent_Features', labelCol='total_bill')
regressor=regressor.fit(train_data)

In [110]:
regressor.coefficients

DenseVector([3.2401, 3.3669, -1.2628, 2.4632, -0.0213, -1.0864])

In [111]:
regressor.intercept

0.9903981225611963

In [112]:
# show predictions

pred_result=regressor.evaluate(test_data)

In [113]:
type(pred_result)

pyspark.ml.regression.LinearRegressionSummary

In [114]:
pred_result.predictions.show()

+--------------------+----------+------------------+
|Independent_Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.97,2.0])|     12.02|14.107256027423063|
|(6,[0,1],[2.01,2.0])|     20.23|14.236860264752679|
|(6,[0,1],[2.34,4.0])|     17.81|22.039944439100314|
| (6,[0,1],[2.5,4.0])|     18.35|22.558361388418774|
| (6,[0,1],[4.3,2.0])|      21.7| 21.65670285187316|
|(6,[0,1],[5.92,3.0])|     29.03|30.272599071911735|
|[1.01,2.0,1.0,0.0...|     16.99|  9.71263339555111|
|[1.17,2.0,0.0,1.0...|     32.83|13.978408881811655|
|[1.5,2.0,0.0,0.0,...|     12.46|12.520445716130759|
|[1.5,2.0,1.0,0.0,...|      8.35|10.192557841537461|
|[1.57,2.0,0.0,0.0...|     15.42|12.789893479903801|
|[1.63,2.0,1.0,0.0...|     11.87|10.613771612858711|
|[1.64,2.0,0.0,1.0...|     15.36|15.501258670434636|
|[1.92,1.0,0.0,1.0...|      8.58|11.891195913805136|
|[2.0,2.0,0.0,0.0,...|     13.13|14.183139031197166|
|[2.0,2.0,0.0,0.0,...|     15.95| 13.07541156989573|
|[2.0,2.0,1.0,0.0,...|     12.26|11.812610808157654|
|[2.0,2.0,1.0,0.0,...|     14.15|11.812610808157654|
|[2.0,2.0,1.0,1.0,...|     10.63|15.404896044663099|
|[2.0,4.0,0.0,0.0,...|     16.49| 20.91698824757548|
+--------------------+----------+------------------+
only showing top 20 rows

In [115]:
type(pred_result.predictions)

pyspark.sql.dataframe.DataFrame

In [116]:
pred_result.r2,pred_result.meanAbsoluteError,pred_result.meanSquaredError

(0.5534380932715244, 4.04608688591347, 33.178019933363004)

In [121]:
#save in cd of colab
save_location="/content/tips_predictions_3.csv"
regressor.save(path=save_location)

# session 8
##